services:
  postgres:
    image: postgres:16
    container_name: restaurant-postgres
    environment:
      POSTGRES_DB: restaurantdb
      POSTGRES_USER: restaurant
      POSTGRES_PASSWORD: restaurant
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: restaurant-app
    depends_on:
      - postgres
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/restaurantdb
      SPRING_DATASOURCE_USERNAME: restaurant
      SPRING_DATASOURCE_PASSWORD: restaurant
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
    ports:
      - "8080:8080"

volumes:
  postgres_data: