version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: restaurant-postgres
    environment:
      POSTGRES_DB: restaurantdb
      POSTGRES_USER: restaurant
      POSTGRES_PASSWORD: restaurant
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: