spring:
  datasource:
    url: jdbc:postgresql://localhost:5434/restaurantdb
    username: restaurant
    password: restaurant
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true